/**
 * @file
 * Styles for sticky local tasks.
 */

/* cspell:ignore crossref */

.sticky-local-tasks__wrapper {
	position: fixed;
	right: 2%;
	bottom: 4%;
	z-index: 999999;
}

.sticky-local-tasks__wrapper.sticky-local-tasks--bottom-left {
	right: auto;
	left: 2%;
}

.sticky-local-tasks__wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#sticky-local-tasks__toggle {
	border-radius: 100%;
	width: 54px;
	height: 54px;
	border: none;
	background-color: #f9f9f9;
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
		rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
	transition: all 0.2s ease 0s;
	z-index: 999999;
	cursor: pointer;
	line-height: initial;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sticky-local-tasks__toggle:hover {
	box-shadow: rgb(50 50 105 / 15%) 0px 4px 12px 0px,
		rgb(0 0 0 / 5%) 0px 1px 1px 0px;
	background-color: #e7e7e7;
}

#sticky-local-tasks__items {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 999999;
	transition: all 0.2s ease 0s;
	display: none;
	animation: slideOut 0.2s ease 0s forwards;
}

#sticky-local-tasks__items.show {
	animation: slideIn 0.2s ease 0s forwards;
}

.sticky-local-tasks__list {
	list-style: none !important;
	padding: 25px 0 50px !important;
	margin: 0 0 -40px 0 !important;
	background: #efefef;
	border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.sticky-local-tasks__list .nav-item {
	list-style: none !important;
}

.sticky-local-tasks__wrapper .nav-item a {
	padding: 4px 6px;
	transition: all 0.2s ease 0s;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
  border: 0;
  border-radius: 0;
}

.sticky-local-tasks__wrapper .nav-item a.active {
  background-color: #e5e5e5 !important;
}

.sticky-local-tasks__wrapper .nav-item:hover a {
	background-color: #e7e7e7;
}

.sticky-local-tasks__wrapper .nav-item span {
	transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
	white-space: nowrap;
	position: absolute;
	font-size: 0;
	z-index: -1;
	opacity: 0;
	right: 0;
	height: 38px;
	display: flex;
	align-items: center;
	color: #414247;
}

.sticky-local-tasks__wrapper .nav-item:hover span {
	font-size: 12px;
	right: 36px;
	opacity: 1;
	padding: 4px 20px 4px 10px;
	border-radius: 4px;
	background-color: #e7e7e7;
}

.sticky-local-tasks__wrapper.sticky-local-tasks--bottom-left .nav-item span {
	padding: 4px 10px 4px 20px;
	right: auto;
	left: 0;
}

.sticky-local-tasks__wrapper.sticky-local-tasks--bottom-left
	.nav-item:hover
	span {
	right: auto;
	left: 36px;
}

.sticky-local-tasks__wrapper .nav-link__icon {
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	background-size: auto;
	display: inline-block;
	transition: all 0.5s;
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 100%;
}

.sticky-local-tasks__wrapper .nav-item--view .nav-link__icon {
	background-image: url('../img/icon--view.svg');
}

.sticky-local-tasks__wrapper .nav-item--edit .nav-link__icon {
	background-image: url('../img/icon--edit.svg');
}

.sticky-local-tasks__wrapper .nav-item--delete .nav-link__icon {
	background-image: url('../img/icon--delete.svg');
}

.sticky-local-tasks__wrapper .nav-item--shortcuts .nav-link__icon {
	background-image: url('../img/icon--shortcuts.svg');
}

.sticky-local-tasks__wrapper .nav-item--zip .nav-link__icon {
	background-image: url('../img/icon--zip.svg');
}

.sticky-local-tasks__wrapper .nav-item--revisions .nav-link__icon {
	background-image: url('../img/icon--revisions.svg');
}

.sticky-local-tasks__wrapper .nav-item--devel .nav-link__icon {
	background-image: url('../img/icon--devel.svg');
}

.sticky-local-tasks__wrapper .nav-item--clone .nav-link__icon {
	background-image: url('../img/icon--clone.svg');
}
.sticky-local-tasks__wrapper .nav-item--translate .nav-link__icon {
	background-image: url('../img/icon--translate.svg');
}

.sticky-local-tasks__wrapper .nav-item--analytics .nav-link__icon,
.sticky-local-tasks__wrapper .nav-item--google-analytics .nav-link__icon {
	background-image: url('../img/icon--analytics.svg');
}

.sticky-local-tasks__wrapper .nav-item--entityqueue .nav-link__icon {
	background-image: url('../img/icon--entityqueue.svg');
}

.sticky-local-tasks__wrapper .nav-item--crossref-export .nav-link__icon,
.sticky-local-tasks__wrapper .nav-item--export .nav-link__icon {
	background-image: url('../img/icon--export.svg');
}

.sticky-local-tasks__wrapper .nav-item--xml .nav-link__icon {
	background-image: url('../img/icon--xml.svg');
}

.sticky-local-tasks__wrapper .nav-item--pdf .nav-link__icon {
	background-image: url('../img/icon--pdf.svg');
}

.sticky-local-tasks__wrapper .nav-item--import .nav-link__icon,
.sticky-local-tasks__wrapper .nav-item--add .nav-link__icon {
	background-image: url('../img/icon--add.svg');
}

.sticky-local-tasks__wrapper .nav-item--magazine .nav-link__icon {
	background-image: url('../img/icon--magazine.svg');
}

.sticky-local-tasks__wrapper .nav-item--grants .nav-link__icon,
.sticky-local-tasks__wrapper .nav-item--permission .nav-link__icon {
	background-image: url('../img/icon--key.svg');
}

.sticky-local-tasks__wrapper .nav-item--layout .nav-link__icon {
	background-image: url('../img/icon--layout.svg');
}

.sticky-local-tasks__wrapper .nav-item--results .nav-link__icon {
	background-image: url('../img/icon--results.svg');
}

.sticky-local-tasks__wrapper .nav-item--test .nav-link__icon {
	background-image: url('../img/icon--test.svg');
}

.sticky-local-tasks__wrapper .nav-item--references .nav-link__icon {
	background-image: url('../img/icon--references.svg');
}

.sticky-local-tasks__wrapper .nav-item--manage-display .nav-link__icon {
	background-image: url('../img/icon--manage-display.svg');
}

.sticky-local-tasks__wrapper .nav-item--convert .nav-link__icon {
	background-image: url('../img/icon--convert.svg');
}

.sticky-local-tasks__wrapper .nav-item--settings .nav-link__icon {
	background-image: url('../img/icon--settings.svg');
}

.sticky-local-tasks__wrapper .nav-item--submission .nav-link__icon {
	background-image: url('../img/icon--submission.svg');
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideOut {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(100%);
	}
}
