{#
/**
 * @file
 * Theme override to display sticky primary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - position: where to display the links; either bottom-left or bottom-right.
 *
 * Each item in primary can be individually themed in
 * menu-local-task--sticky-local-tasks.html.twig.
 *
 * @see \Drupal\sticky_local_tasks\StickyLocalTaskBuilder::build()
 * @see menu-local-task--sticky-local-tasks.html.twig
 */
#}
<div id="sticky-local-tasks__main">
  <div class="sticky-local-tasks__wrapper sticky-local-tasks--{{ position }}" id="sticky-local-tasks__wrapper">
    <div id="sticky-local-tasks__items" data-sticky-local-tasks-items>
      <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
      <ul class="sticky-local-tasks__list primary nav nav-tabs">{{ primary }}</ul>
    </div>
    <button id="sticky-local-tasks__toggle" data-sticky-local-tasks-toggle aria-expanded="false" aria-controls="sticky-local-tasks__items">
      <span class="visually-hidden">{{ 'Toggle tabs'|t }}</span>
      <svg fill="#414247" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64" width="32px" height="32px"><path d="M 32 7 C 25.736 7 20.625031 7.3832656 16.832031 7.8222656 C 12.101031 8.3692656 8.3692656 12.101031 7.8222656 16.832031 C 7.3832656 20.625031 7 25.736 7 32 C 7 38.264 7.3832656 43.374969 7.8222656 47.167969 C 8.3692656 51.898969 12.101031 55.630734 16.832031 56.177734 C 20.625031 56.616734 25.736 57 32 57 C 38.264 57 43.374969 56.616734 47.167969 56.177734 C 51.898969 55.630734 55.630734 51.898969 56.177734 47.167969 C 56.616734 43.374969 57 38.264 57 32 C 57 25.736 56.616734 20.625031 56.177734 16.832031 C 55.630734 12.101031 51.898969 8.3692656 47.167969 7.8222656 C 43.374969 7.3832656 38.264 7 32 7 z M 29.574219 15 L 33.59375 15 C 34.17275 15 34.683656 15.3815 34.847656 15.9375 L 35.34375 17.615234 L 33.074219 18.453125 C 35.078219 18.610125 36.960953 19.196906 38.626953 20.128906 L 42.304688 18.265625 L 45.146484 21.105469 C 45.556484 21.515469 45.646141 22.145297 45.369141 22.654297 L 44.533203 24.193359 L 42.34375 23.185547 C 43.59475 24.651547 44.534219 26.385016 45.074219 28.291016 L 49 29.574219 L 49 33.59375 C 49 34.17275 48.6185 34.683656 48.0625 34.847656 L 46.384766 35.34375 L 45.546875 33.074219 C 45.389875 35.078219 44.803094 36.960953 43.871094 38.626953 L 45.736328 42.306641 L 42.894531 45.148438 C 42.484531 45.558437 41.854703 45.648094 41.345703 45.371094 L 39.808594 44.535156 L 40.816406 42.345703 C 39.350406 43.596703 37.616938 44.534219 35.710938 45.074219 L 34.425781 49 L 30.40625 49 C 29.82725 49 29.316344 48.6185 29.152344 48.0625 L 28.65625 46.384766 L 30.925781 45.546875 C 28.921781 45.389875 27.039047 44.803094 25.373047 43.871094 L 21.693359 45.736328 L 18.853516 42.894531 C 18.443516 42.484531 18.351906 41.854703 18.628906 41.345703 L 19.464844 39.808594 L 21.65625 40.816406 C 20.40525 39.350406 19.465781 37.616938 18.925781 35.710938 L 15 34.425781 L 15 30.40625 C 15 29.82725 15.3815 29.316344 15.9375 29.152344 L 17.615234 28.65625 L 18.453125 30.925781 C 18.610125 28.921781 19.196906 27.039047 20.128906 25.373047 L 18.265625 21.695312 L 21.105469 18.853516 C 21.515469 18.443516 22.145297 18.353859 22.654297 18.630859 L 24.193359 19.466797 L 23.185547 21.65625 C 24.651547 20.40525 26.384062 19.465781 28.289062 18.925781 L 29.574219 15 z M 32 25 A 7 7 0 1 0 32 39 A 7 7 0 1 0 32 25 z"/></svg>
    </button>
  </div>
</div>
