{#
/**
 * @file
 * Theme suggestion for a sticky local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 * - url: The link URL.
 * - text: The link text.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks--sticky-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 * @see sticky_local_tasks_preprocess_menu_local_task__sticky_local_tasks()
 */
#}
{% set nav_classes = [
  'nav-item',
] %}

<li{{ attributes.addClass(nav_classes) }}>
  <a href="{{ url }}" class="nav-link{{ is_active ? ' active' }}">
    <span>{{ text }}</span>
    <i class="nav-link__icon"></i>
  </a>
</li>
